<ion-content class="menu-content">
  <ion-header>
    <ion-toolbar mode="ios">
      <ion-title>CH Alcasser</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <h5 class="categorias-title">Categorias</h5>

    <div class="categorias">
      <app-categorias
        *ngFor="let categoria of categorias"
        [srcImage]="categoria.foto"
        [selection]="categoria.categoria | async | titlecase"
        style="width: calc(80% / 4)"
      ></app-categorias>
    </div>
  </section>

  <div class="line"></div>

  <h5 class="categorias-title">Eventos</h5>

  <section
    class="scrolling-wrapper"
    #element
    (mousedown)="startDragging($event, false, element)"
    (mouseup)="stopDragging($event, false)"
    (mouseleave)="stopDragging($event, false)"
    (mousemove)="moveEvent($event, element)"
  >
    <app-eventos
      #evento
      (click)="status=!status"
      class="evento"
      backgroundImage="../../../assets/images/categorias_image/INICI-50.png"
      [eventDate]="date"
      title="Nueva temporada"
    ></app-eventos>
    <app-eventos
      class="evento"
      backgroundImage="../../../assets/images/categorias_image/INICI-50.png"
      [eventDate]="date"
      title="Nueva temporada"
    ></app-eventos>
    <app-eventos
      class="evento"
      backgroundImage="../../../assets/images/categorias_image/INICI-50.png"
      [eventDate]="date"
      title="Nueva temporada"
    ></app-eventos>
    <app-eventos
      class="evento"
      backgroundImage="../../../assets/images/categorias_image/INICI-50.png"
      [eventDate]="date"
      title="Nueva temporada"
    ></app-eventos>
    <app-eventos
      class="evento"
      backgroundImage="../../../assets/images/categorias_image/INICI-50.png"
      [eventDate]="date"
      title="Nueva temporada"
    ></app-eventos>
  </section>

  <small class="seemore">see all >></small>

  <div class="line" style="margin-top: 1rem"></div>

  <h5 class="categorias-title">Próximos partidos</h5>

  <section
    class="scrolling-wrapper"
    #partidos
    (mousedown)="startDragging($event, false, partidos)"
    (mouseup)="stopDragging($event, false)"
    (mouseleave)="stopDragging($event, false)"
    (mousemove)="moveEvent($event, partidos)"
  >
    <app-partidos></app-partidos>
    <app-partidos></app-partidos>
    <app-partidos></app-partidos>
    <app-partidos></app-partidos>
    <app-partidos></app-partidos>
  </section>

  <small class="seemore">see all >></small>

  <div class="line"></div>

  <h5 class="categorias-title">Últimos resultados</h5>

  <section #resultados style="display: flex; flex-direction: column">
    <app-resultados></app-resultados>
    <app-resultados></app-resultados>
    <app-resultados></app-resultados>
    <app-resultados></app-resultados>
  </section>
  <small class="seemore">see all >></small>

  <div class="line"></div>

  <h5 class="categorias-title">Patrocinadores oficiales</h5>
</ion-content>
