* {
  margin: 0;
  padding: 0;
}

.card {
  width: 90%;
  margin:  0 1rem 1rem 1rem;
  border-radius: 9px;
  color: black;
  text-align: center;
}

.header {
  background-color: rgb(255, 2, 1);
  border: 0.5px solid white;
  border-radius: 9px 9px 0 0;
  font-family: PoppinsBold;
  color: white;
  border-bottom: none;
  letter-spacing: 1px;
}

.body {
  background-color: white;
  display: flex;
  border-radius: 0 0 9px 9px;
  padding: .5rem .5rem .5rem .5rem;
  border: 1px solid rgb(112, 112, 112);
  border-top: none;
  justify-content: space-around;
}

.day {
  font-family: AntonioBold;
  color: rgb(75, 75, 74);
  font-size: 14px;
}

.img-container{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.img-equipo{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: PoppinsSemi;
  font-size: 11px;
}

.resultado {
  font-family: PoppinsBold;
  font-size: 22px;
}

ion-img {
  width: 40px;
}
