<div class="card">
  <div class="header">
    <p>Senior B</p>
  </div>
  <div class="body">
    <div class="img-equipo">
      <ion-img src="../../../../../assets/images/categorias_image/benetusser.png"></ion-img>
      <p>Alcasser</p>
    </div>
    <div class="date">
      <p class="resultado">32 : 28</p>
      <p class="day">22 AGO</p>
    </div>
    <div class="img-equipo">
      <ion-img src="../../../../../assets/images/categorias_image/benetusser.png"></ion-img>
      <p>Alcasser</p>
    </div>
  </div>
</div>
