#item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#Equipos {
  overflow: visible;
  width: 64px;
  white-space: nowrap;
  text-align: left;
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: normal;
  font-size: .9em;
  color: rgba(255, 255, 255, 1);
}
