#Grupo_1 {
  position: absolute;
  width: 68px;
  height: 89px;
  left: 0.5px;
  top: 37px;
  overflow: visible;
}
#Equipos {
  overflow: visible;
  width: 64px;
  white-space: nowrap;
  text-align: left;
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
