<ion-header>
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <div class="date">
          <ion-button fill="clear" (click)="onPreviousMonth()"><ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon></ion-button>
          <span class="month">
            {{ getMonthName(monthNumber) | async | titlecase }} &nbsp; {{ year }}
          </span>
          <ion-button fill="clear" (click)="onNextMonth()"><ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon></ion-button>
        </div>

        <div class="calendar">
          <div class="daysWeek">
            <p class="dayWeek" *ngFor="let day of weekDaysName">{{day | slice:0:3 | uppercase}}</p>
          </div>


            <div class="daysWeek bb-0" *ngFor="let item of rows | enumerate">
              <div class="day_container" (click)="addClass(day)" [id]="day.number" *ngFor="let day of groupMonthDays[item]">
                <div [ngClass]="{'selected' : day.selected}" class="day">
                  {{day.number | addZeroDate}}
                </div>

                <div class="event_point"></div>
                <div class="match_point"></div>
              </div>
            </div>

        </div>

</ion-content>
