<div class="card">
  <div class="header">
    <p>Senior B</p>
  </div>
  <div class="body">
    <div>
      <div class="month">SEP</div>
      <div class="day">22</div>
      <div class="hour">20:00</div>
    </div>

    <div class="vertical-line"></div>

    <div class="img-container">
      <div class="img-equipo">
        <ion-img src="../../../../../assets/images/categorias_image/benetusser.png"></ion-img>
        <p>Alcasser</p>
      </div>
      <div class="vs">VS</div>
      <div class="img-equipo">
        <ion-img src="../../../../../assets/images/categorias_image/benetusser.png"></ion-img>
        <p>Benetusser</p>
      </div>
    </div>
  </div>
</div>
