<div class="card">
  <div class="header">
    <p>Senior B</p>
  </div>
  <div class="body">
    <div>
      <div class="month">SEP</div>
      <div class="day">22</div>
      <div class="hour">20:00</div>
    </div>

    <div class="vertical-line"></div>

    <div class="img-container">
      <div><ion-img src="../../../../../assets/images/categorias_image/benetusser.png"></ion-img></div>
      <div>VS</div>
      <div><ion-img src="../../../../../assets/images/categorias_image/benetusser.png"></ion-img></div>
    </div>
  </div>
</div>
